######################################
# file : server properties
# Author: Anand Dasari
# Organization: Vocalink
# Date: 14-02-2017
# Desc :  This file holds weblogic
#  server connection details.
#####################################
cluster_name={{ wls_config[domain].cluster_name }}
admin_server_name={{ wls_config[domain].admin_server_name }}
admin_username={{ admin_username }}
admin_password={{ admin_password }}
admin_server_listen_port={{ wls_config[domain].admin_server_listen_port }}
admin_server_listen_address={{ wls_config[domain].admin_server_listen_address }}
